@tailwind base;
@tailwind components;
@tailwind utilities;


/* Google font add  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #FAFBFE;
}


h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}



/* overview-data */

.overview-data:nth-child(1) {
  background: orange;
}

.overview-data:nth-child(2) {
  background: #00CFE8;
}

.overview-data:nth-child(3) {
  background: #1B2850;
}

.overview-data:nth-child(4) {
  background: #28C76F;
}